/* =====================
   3D BUTTON 1
   ===================== */

.button {
  height: 40px;
  margin: 10px 10px 0 10px;
  color: var(--btn-color-1);
  background-color: var(--btn-color-2);
  cursor: pointer;
  /* transition: all 0.4s; */
  position: relative;
  /* ===================== */
  position: relative;
  border: none;
  color: white;
  padding: 15px 24px;
  padding: 8px;
  font-size: 1rem;
  box-shadow: -6px 6px 0 hsl(23, 100%, 51%);
  outline: none;
  /* ====================== */
  border-radius: 6px;
  background: var(--btn-color-4);
  box-shadow: -6px 6px 0 1px var(--btn-color-2);
}

.button:hover {
  background: var(--btn-color-2);
}

.button:active {
  background: var(--btn-color-2);
  top: 3px;
  left: -3px;
  box-shadow: -3px 3px 0 hsl(32, 100%, 50%);
}

.button::before {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;
  /* border width needs to be size of the element's box shadow */
  border: solid 6px transparent;

  /* border width needs to be size of the element's box shadow */
  border-right: solid 6px hsl(28, 100%, 50%);

  /* no width for left, makes measurements easier */
  border-left-width: 0px;
  border-radius: 6px;

  background: none;
  top: 0px;

  /* needs to be the same size as border width */
  left: -6px;
}

.button::after {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;
  border: solid 6px transparent;
  border-top: solid 6px hsl(28, 100%, 50%);
  border-bottom-width: 0px;
  background: none;
  right: 0;
  bottom: -6px;
  border-radius: 6px;
}

.button:active::before {
  border: solid 3px transparent;
  border-right: solid 3px hsl(28, 100%, 50%);
  border-left-width: 0px;
  left: -3px;
}

.button:active::after {
  border: solid 3px transparent;
  border-top: solid 3px var();
  border-bottom-width: 0px;
  bottom: -3px;
}
.button span {
  animation: btnAnim 2s ease-in-out alternate;
  animation-iteration-count: infinite;
  font-weight: 1000;
}

@keyframes btnAnim {
  0% {
    color: var(--btn-color-3);
  }
  50% {
    color: var(--bg-light-1);
  }
  100% {
    color: var(--bg-light);
  }
}

/* ============================
   3D BUTTON
   ============================ */
