.contact {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 95vh;
  align-self: center;
  border-radius: 10px;
  background-color: rgba(87, 139, 139, 0.456);
}

.contact h3 {
  margin: 10px;
}
.contact .contact-stroke {
  margin: 10px;
}
.contact > .p1 {
  margin: 5px;
  font-size: larger;
}

/* ===================
  FORM WRAP
====================== */

.form-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

.form-wrap h4 {
  font-family: cursive;
  font-size: x-large;
  margin: 3px;
}
.form-wrap .form {
  display: grid;
  grid-template-columns: 2fr 2fr;
  width: 100%;
  height: 100%;
  padding: 5px 0 20px 0;
}
.form-wrap .form form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-wrap .form form div {
  box-sizing: border-box;
  padding-top: 5px;
  color: black;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 1000;
}

.form-wrap .form form .contact-buttons {
  width: 70%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  gap: 1em;
}
.form-wrap .form form .contact-buttons button {
  font-size: large;
  padding: 5px;
  margin: 15px 5px;
  width: 70%;
  border-radius: 20px;
  background-color: var(--bg-light);
  transition: all 0.3s ease-out;
  font-weight: 1000;
}
.form-wrap .form form .contact-buttons button:hover {
}
.form-wrap .form form label {
  margin: 6px 0;
  color: black;
  color: var(--bg-light);
}

.form-wrap .form form input {
  padding: 7px;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 700;
}

.form-wrap .form form textarea {
  box-sizing: border-box;
  padding: 10px;
  margin: 8px 0;
  color: black;
  width: 100%;
  resize: none;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 700;
}


