.header {
  padding: 5%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-align: center;
  background-color: var(--bg-dark);
}
.header-img {
  width: 100%;
  border-radius: 50%;
  height: 150%;
}

.light {
  color: aliceblue;
  background-color: rgb(16, 13, 13);
}

.dark {
  color: aliceblue;
  background-color: rgb(16, 13, 13);
}
.dark {
  color: aliceblue;
  background-color: rgb(16, 13, 13);
}
