footer {
  background: var(--header-grad);
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  padding: 20px;
}
footer > p {
  font-size: xx-large;
  font-weight: 1000;
  font-family: cursive;
  word-spacing: 20px;
}

.footer-buttons {
  width: 60%;
  margin: 40px;
  display: flex;
  justify-content: space-around;
}
